@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,900&family=Ysabeau:ital,wght@0,1;0,100;0,300;0,400;0,500;0,800;0,900;1,1;1,200;1,300;1,800;1,900&display=swap');

*{
    font-family: 'Playfair Display', sans-serif;
    color: rgb(70, 68, 68);
}

h1{
    font-family: 'Ysabeau', sans-serif;
    color: rgb(211, 0, 141);
}

form{
    font-size: 14px;
}

button{
    color: rgb(58, 58, 59);
    background-color: rgb(243, 173, 220);
    font-size: 16px;
    border-radius: 4px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 600;
    box-shadow: 2px;
    text-decoration: none;
    transition: background-color 0.3s ease;

}

button:hover{
    background-color: rgb(241, 99, 170);
    color: azure;
}

